<div class="mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
    <div class="p-20 ml-card-holder ml-card-holder">
      <div class="mdl-card mdl-shadow--1dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Listagem de Papeis</h2>
        </div>

        <div class="mdl-layout__content">
          <div class="p-20" ng-if="roles.length === 0 || !roles">Nenhum papel adicionado</div>
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp w-100" ng-if="roles.length > 0">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Papel</th>
                <th>Permissões</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="role in roles">

                <td class="mdl-data-table__cell--non-numeric p-b-18">
                  <div class="f16 f-r">
                    {{role.name}}
                  </div>
                </td>

                <td>
                  <ul class="demo-list-item mdl-list overflowPermission">
                    <li class="mdl-list__item" ng-repeat="(key, value) in role.permissions">
                      <span class="mdl-list__item-primary-content">
                        {{value}}
                      </span>
                    </li>
                  </ul>
                </td>

                <td>
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored m-r-20" ng-click="editRole(role)">
                    Editar {{role.name}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="mdl-card mdl-shadow--1dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Adicionar Papel</h2>
            <div class="m-l-auto f-right">
              <button ng-if="action == 'add'" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored m-r-20" ng-click="sendAdd()" ng-disabled="!tmp.name || !tmp.description || tmp.permissions.length === 0">
              Enviar Papel
              </button>
              <button ng-if="action == 'edit'" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored m-r-20" ng-click="sendEdit()" ng-disabled="!tmp.name || !tmp.description || tmp.permissions.length === 0">
              Editar Papel
              </button>
            </div>  
        </div>

        <div class="mdl-layout__content">
          <div class="mdl-grid p-20">
            <div class="mdl-cell mdl-cell--6-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="sample3" ng-disabled="action == 'edit'" ng-model="tmp.name">
                <label class="mdl-textfield__label" for="sample3">Nome do Papel</label>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="sample3"  ng-model="tmp.description">
                <label class="mdl-textfield__label" for="sample3">Descrição do Papel</label>
              </div>
            </div>
          </div>
          <div class="mdl-grid mdl-grid--no-spacing">
            <div class="p-20" ng-if="permissions.length === 0 || !permissions">Nenhuma permissão adicionada.</div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone p-20 pad-l-20 " ng-repeat="role in permissions">
              <div class="mdl-card mdl-shadow--0dp  mdl-color--cyan">
                <div class="mdl-card__title block">
                 <h4 class="mdl-card__title-text mdl-color-text--white f18 w600">{{role.name}}</h4>
                </div>
                <div class="p-15 color-font">
                  <md-list ng-cloak>
                    <md-list-item ng-repeat="permission in role.permissions">
                      <p>{{permission.name}}</p>
                      <md-checkbox class="md-secondary" checklist-model="tmp.permissions" checklist-value="permission.value"></md-checkbox>
                    </md-list-item>
                  </md-list>
                </div>    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


